::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  .container{
      /* margin: 5px; */
      overflow-x: hidden;
      height: 600px;
  }

  #container_upcoming {
    display: none;
  }

  /* ------------------------ Toggle Switch ----------------- */

  .switch-box {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 120px;
    text-align: center;
    font-size: 18px;
    color: #000;
    position: relative;
    padding-right: 120px;
  }
  .switch-button:before {
    content: "Upcoming";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
  }
  .switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
  }

/* ------------------------------------------In progress----------------- */
  .current{
    display: grid;
    grid-template-rows: 10% 90%;
      width: 100%;
      height: 280px;
  }
.current_topic{
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    height: fit-content;
    align-items: center;
    height: 20px;
    
}
.current_boxes{
    display: flex;
    display: inline-flex;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.current_boxes .c{
    /* padding: 10px; */
    background-color: #a1a1a1;
    box-shadow: #d6dee1;
    /* margin: 10px; */
    /* gap ----------------------------------*/
    margin-left: 10px;  
    margin-right: 10px;
     /* gap ----------------------------------*/
    margin-bottom: 5px;
    width: 200px;
    height: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */

    transition: 0.5s ease;
    cursor: pointer;
    margin:10px;
    font-family: roboto;
    /* padding: 5px; */

}


.current_boxes .c:hover{
  transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    margin-left: 10px;  
    margin-right: 10px;
}
/* ------------------------------------------upcommings----------------- */
  .upcomings{
    display: grid;
    grid-template-rows: 8% 92%;
      width: 100%;
      height: 280px;
      margin-top: 5px;
  }
.upcomings_topic{
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    height: fit-content;
    align-items: center;
    height: 20px;
    margin-top: 10px;
   
}
.upcomings_boxes{
    display: flex;
    display: inline-flex;
    height: 250px;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.upcomings_boxes .c{
    /* padding: 10px; */
    background-color: #a1a1a1;
    box-shadow: #d6dee1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:0px;
    width: 200px;
    height: 160px;
    /* margin-top: 20px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    transition: 0.5s ease;
    cursor: pointer;
    margin:10px;
    font-family: roboto;
}
.upcomings_boxes .c:hover{
  transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
/* ------------------------------------------upcommings----------------- */

div.content{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* .content h6{
    padding: 0px;
    padding-top: 0px;
    padding-left: 10px;
    margin-top: 3px;
} */
.content a{
  text-decoration: none;
  color: #000;
font-size: 16px;
}

.Campaigns_name{
    height: 25px;
    background-color: #750605;
    color: #ffffff;
    /* padding: 7px; */
    width: 190px;
    margin-left: 0px;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: bold;
    
}

.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ffffff;
  background-color: #ffffff;
  color: #750605;
  font-weight: bold;
  height: 80px;
  margin-bottom: 100px;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #750605;
  padding:10px;
}
.stat a{
  font-size: 12px;
}
.value i{
  color: #750605;
  font-size: 25px;
}