*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background: #fff;
    color: #000;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo{
    /*text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;*/
    padding-top: 10px;
    padding-left: 10%;
}

.nav-links{
    text-align: right;
    background: #750605;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
}

.left-sidebar {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #750605;
}

.row {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}

.row-service {
    display: flex;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    margin-right: 30px;
}

.coloumn-text {
    text-align: left;
    padding: 25px;
}

.lef-col{
    flex-basis: 40%;
}

.right-col {
    flex-basis: 55%;
}

.left-col img {
    width: 80%;
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}

.left-col img:hover {
    filter: grayscale(1);
}

.right-col h1{
    font-size: 55px;
    font-weight: 600;
}

.right-col p{
    color: #777;
    margin: 20px 0 20px;
}

.social-media{
    display: flex;
    margin-top: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background: #750605;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon img {
    width: 28px;
}

.icon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #360000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.icon a:hover {
    opacity: 1;
}

.service {
    padding: 100px 50px 120px 50px;
    background-color: #75070510;
}

h3 {
    text-align: center;
    color: #750605;
}

.centre_heading {
    text-align: center;
    padding: 25px 0px 50px 0px;
}

.footer {
    padding: 75px 250px 75px 250px;
    background-color: #fff;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #7507051f;
    color: #750605;
}
.fa-instagram {
    background: #7507051f;
    color: #750605;
} 
.fa-twitter {
    background: #7507051f;
    color: #750605;
}

.copyright {
    padding: 25px 250px 25px 250px;
    background-color: #fff;
    text-align: center;
    font-size: small
    ;
}

@media (max-width: 768px) {
    .left-sidebar {
        width: 30%;
    }
    .row {
        padding: 10% 10%;
    }

    .row-service {
        display: block;
        align-items: center;
        text-align: center;
    }

    .column {
        width: 50%;
        background-color: #fff;
        padding: 25px;
        margin-bottom: 25px;
        margin-left: 20%;
    }
    
    .footer, .copyright {
        padding: 50px 75px 50px 75px;
    }
}

@media (max-width:600px){
    .right-col {
        margin-bottom: 50px;
    }
    .left-col img {
        width: 65%;
    }
    .left-sidebar {
        display: none;
    }
    .row, .row-service {
        flex-direction: column;
    }
    .footer, .copyright {
        padding: 50px 50px 50px 50px;
    }

    .row {
        padding: 0 10%;
    }

    .column {
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        padding: 25px;
        margin-bottom: 25px;
        margin-left: -10%;
    }
    
    .coloumn-text {
        text-align: left;
        padding: 25px;
    }
}