/*
Center element CSS {
    margin: auto;
    width: 50%;
    padding: 10px;
}
*/

body{
    margin:0;
    background-image: linear-gradient(to right, #360000, #750605);
}

.maincontainer{
    display: flex;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
}

.subcontainer {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    box-shadow: 1px 1px 15px 0px #000000;
    padding: 0px;
    width:1000px;
    background-color: #FFFFFF;
    height: 600px;
    align-items: center;
    border: 0px;
    border-radius: 15px;
    margin: 20px;
}
.inter_lcontainer{
    display: flex;
    flex-direction: column;
    grid-area: left;
}
.inter_rcontainer{
    display: flex;
    flex-direction: column;
    grid-area: right;
}

.logo{
    margin: auto;
}
.error_message {
    margin: auto;
    color: #750605;
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    padding: 10px;
    box-shadow: 0 8px 10px -10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.inputf1 i{
    padding-left: 10px;
    margin-right: 10px;
}
.inputf1{
    padding: 5px;
    padding-left: 10px;
    width: 350px;
    margin-bottom: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #8f8787;
    background-color: #EAE5E5;
    margin-left: 60px;
    background: transparent;
}
.input-fields{
    margin-bottom: 25px;
    height: 60px;
}
.uname{
    border: 0px;
    outline: none;
    width: 300px;
    font-weight: bold;
}
.pwd{
    border: 0px;
    outline: none;
    width: 300px;
    font-weight: bold;
}
.remember{
    margin-left: 60px;
    margin-top: 20px;
    height: 40px;
    font-weight: bold;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chech-box{
    margin: 3px 10px 3px 20px;

}
.remember a{
    margin-left: 120px;
    text-decoration: none;
    color: #0078c8;
}

#Login{
    float:right;
    height: 40px;
    width: 120px;
    background-color: #0078c8;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-right: 70px;
    font-weight: bold;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#Login:hover{
    background-color: white;
    color: rgb(0, 120, 200);
    box-shadow: 0 0 3px 1px rgb(115, 158, 250);
}
h4{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.SocialM{
    display: grid;
    padding-left: 10px;
    padding-right: 10px;

    /* grid-template-rows: 600px;
	grid-template-columns: 1fr 1fr; */
}
.SocialMediea{
    display: flex;
    margin-bottom: 15px;
    width: 370px;
    height: 40px;
    font-weight: bold;
    padding-top: 13px;
    /* padding: auto; */
}
.SocialMediea i{
    padding-right: 10px;
    margin-left: 100px;
    height: 20px;
    width: 20px;
}

#LoginF{
    background-color: #3B5998;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#LoginF:hover
{
    background-color: white;
    color: #3B5998;
    box-shadow: 0 0 3px 1px #423c77;
}
#LoginG{
    background-color: #db3236;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#LoginG:hover
{
    background-color: white;
    color: #db3236;
    box-shadow: 0 0 3px 1px #e66868;
}

.bottom{
    margin-left: 60px;
    margin-top: 20px;
    font-weight: bold;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bottom a{
    text-decoration: none;
    color: #0078c8;
}

/*------------------------------------------------------------------
[ Mobile Responsive ] */




@media (max-width: 768px) {
    .inter_lcontainer {
        width: 350px;
        height: 480px;
    }
    #ml1 {
        width: 100%;
    }
    .inter_rcontainer {
        margin-left: -100px;
        padding: 20px;
    }

}

@media (max-width:600px){
    .subcontainer{
        grid-template-areas: "right""left";
    }
    .maincontainer{
        background-color: #D3AAAA;
        height: max-content;
    }
    .inter_lcontainer {
        display: none;
    }
    .inter_rcontainer {
        margin-left: -40px;
    }
}

/*------------------------------------------------------------------
*/