/*
Center element CSS {
    margin: auto;
    width: 50%;
    padding: 10px;
}
*/

/*body{*/
/*    margin:0;*/
/*    background-image: linear-gradient(to right, #360000, #750605);*/
/*}*/

/*.maincontainer{*/
/*    display: flex;*/
/*    margin: auto;*/
/*    padding: 10px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-family: 'Lucida Sans';*/
/*}*/

/*.subcontainer {*/
/*    display: grid;*/
/*    grid-template-rows: 600px;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-areas: "left right";*/
/*    box-shadow: 1px 1px 15px 0px #000000;*/
/*    padding: 0px;*/
/*    width:1000px;*/
/*    background-color: #FFFFFF;*/
/*    height: 600px;*/
/*    align-items: center;*/
/*    border: 0px;*/
/*    border-radius: 15px;*/
/*    margin: 20px;*/
/*}*/
/*.inter_lcontainer{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    grid-area: left;*/
/*}*/
/*.inter_rcontainer{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    grid-area: right;*/
/*}*/

/*.logo{*/
/*    margin: auto;*/
/*}*/
/*.error_message {*/
/*    margin: auto;*/
/*    color: #750605;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    font-size: smaller;*/
/*    padding: 10px;*/
/*    box-shadow: 0 8px 10px -10px;*/
/*    margin-top: -20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.inputf1 i{*/
/*    padding-left: 10px;*/
/*    margin-right: 10px;*/
/*}*/
/*.inputf1{*/
/*    padding: 5px;*/
/*    padding-left: 10px;*/
/*    width: 350px;*/
/*    margin-bottom: 15px;*/
/*    border-left: 0;*/
/*    border-top: 0;*/
/*    border-right: 0;*/
/*    border-bottom: 2px solid #8f8787;*/
/*    background-color: #EAE5E5;*/
/*    margin-left: 60px;*/
/*    background: transparent;*/
/*}*/
/*.input-fields{*/
/*    margin-bottom: 25px;*/
/*    height: 60px;*/
/*}*/
/*.uname{*/
/*    border: 0px;*/
/*    outline: none;*/
/*    width: 300px;*/
/*    font-weight: bold;*/
/*}*/
/*.pwd{*/
/*    border: 0px;*/
/*    outline: none;*/
/*    width: 300px;*/
/*    font-weight: bold;*/
/*}*/
/*.remember{*/
/*    margin-left: 60px;*/
/*    margin-top: 20px;*/
/*    height: 40px;*/
/*    font-weight: bold;*/
/*    font-size: smaller;*/
/*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
/*}*/
/*.chech-box{*/
/*    margin: 3px 10px 3px 20px;*/

/*}*/
/*.remember a{*/
/*    margin-left: 120px;*/
/*    text-decoration: none;*/
/*    color: #0078c8;*/
/*}*/

/*#Login{*/
/*    float:right;*/
/*    height: 40px;*/
/*    width: 120px;*/
/*    background-color: #0078c8;*/
/*    color: white;*/
/*    border: none;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    border-radius: 15px;*/
/*    margin-right: 70px;*/
/*    font-weight: bold;*/
/*    transition: ease-in-out 0.1s;*/
/*    cursor: pointer;*/
/*}*/
/*#Login:hover{*/
/*    background-color: white;*/
/*    color: rgb(0, 120, 200);*/
/*    box-shadow: 0 0 3px 1px rgb(115, 158, 250);*/
/*}*/
/*h4{*/
/*    margin: auto;*/
/*    width: 50%;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*}*/
/*.SocialM{*/
/*    display: grid;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/

/*    !* grid-template-rows: 600px;*/
/*	grid-template-columns: 1fr 1fr; *!*/
/*}*/
/*.SocialMediea{*/
/*    display: flex;*/
/*    margin-bottom: 15px;*/
/*    width: 370px;*/
/*    height: 40px;*/
/*    font-weight: bold;*/
/*    padding-top: 13px;*/
/*    !* padding: auto; *!*/
/*}*/
/*.SocialMediea i{*/
/*    padding-right: 10px;*/
/*    margin-left: 100px;*/
/*    height: 20px;*/
/*    width: 20px;*/
/*}*/

/*#LoginF{*/
/*    background-color: #3B5998;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*    margin-left: 50px;*/
/*    transition: ease-in-out 0.1s;*/
/*    cursor: pointer;*/
/*}*/
/*#LoginF:hover*/
/*{*/
/*    background-color: white;*/
/*    color: #3B5998;*/
/*    box-shadow: 0 0 3px 1px #423c77;*/
/*}*/
/*#LoginG{*/
/*    background-color: #db3236;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*    margin-left: 50px;*/
/*    transition: ease-in-out 0.1s;*/
/*    cursor: pointer;*/
/*}*/
/*#LoginG:hover*/
/*{*/
/*    background-color: white;*/
/*    color: #db3236;*/
/*    box-shadow: 0 0 3px 1px #e66868;*/
/*}*/

/*.bottom{*/
/*    margin-left: 60px;*/
/*    margin-top: 20px;*/
/*    font-weight: bold;*/
/*    font-size: smaller;*/
/*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
/*}*/
/*.bottom a{*/
/*    text-decoration: none;*/
/*    color: #0078c8;*/
/*}*/

/*!*------------------------------------------------------------------*/
/*[ Mobile Responsive ] *!*/

/*@media (max-width: 768px) {*/
/*    .inter_lcontainer {*/
/*        width: 350px;*/
/*        height: 480px;*/
/*    }*/
/*    #ml1 {*/
/*        width: 100%;*/
/*    }*/
/*    .inter_rcontainer {*/
/*        margin-left: -100px;*/
/*        padding: 20px;*/
/*    }*/

/*}*/

/*@media (max-width:600px){*/
/*    .subcontainer{*/
/*        grid-template-areas: "right""left";*/
/*    }*/
/*    .maincontainer{*/
/*        background-color: #D3AAAA;*/
/*        height: max-content;*/
/*    }*/
/*    .inter_lcontainer {*/
/*        display: none;*/
/*    }*/
/*    .inter_rcontainer {*/
/*        margin-left: -40px;*/
/*    }*/
/*}*/

/*------------------------------------------------------------------
*/





body{
    margin:0;
    background-image: linear-gradient(to right, #360000, #750605);
}

.maincontainer{
    display: flex;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
}

.subcontainer {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    box-shadow: 1px 1px 15px 0px #000000;
    padding: 0px;
    width:1000px;
    background-color: #FFFFFF;
    height: 600px;
    align-items: center;
    border: 0px;
    border-radius: 15px;
    margin: 20px;
}
.inter_lcontainer{
    display: flex;
    flex-direction: column;
    grid-area: left;
}
.inter_rcontainer{
    display: flex;
    flex-direction: column;
    grid-area: right;
}

.logo{
    margin: auto;
}
.error_message {
    margin: auto;
    color: #750605;
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    padding: 10px;
    box-shadow: 0 8px 10px -10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.inputf1 i{
    padding-left: 10px;
    margin-right: 10px;
}
.inputf1{
    padding: 5px;
    padding-left: 10px;
    width: 360px;
    margin-bottom: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #8f8787;
    background-color: #EAE5E5;
    margin-left: 60px;
    background: transparent;
}
.input-fields{
    margin-bottom: 25px;
    height: 60px;
}
.uname{
    border: 0px;
    outline: none;
    width: 300px;
    font-weight: bold;
}
.pwd{
    border: 0px;
    outline: none;
    width: 300px;
    font-weight: bold;
}
.remember{
    margin-left: 60px;
    margin-top: 40px;
    height: 40px;
    font-weight: bold;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chech-box{
    margin: 3px 10px 3px 20px;

}
.remember a{
    margin-left: 100px;
    text-decoration: none;
    color: #0078c8;
}

#Login{
    float:right;
    height: 40px;
    width: 120px;
    background-color: #0078c8;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-right: 70px;
    font-weight: bold;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#Login:hover{
    background-color: white;
    color: rgb(0, 120, 200);
    box-shadow: 0 0 3px 1px rgb(115, 158, 250);
}
h4{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.SocialM{
    display: grid;
    padding-left: 10px;
    padding-right: 10px;

    /* grid-template-rows: 600px;
	grid-template-columns: 1fr 1fr; */
}
.SocialMediea{
    display: flex;
    margin-bottom: 15px;
    width: 370px;
    height: 40px;
    font-weight: bold;
    padding-top: 13px;
    /* padding: auto; */
}
.SocialMediea i{
    padding-right: 10px;
    margin-left: 100px;
    height: 20px;
    width: 20px;
}

#LoginF{
    background-color: #3B5998;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#LoginF:hover
{
    background-color: white;
    color: #3B5998;
    box-shadow: 0 0 3px 1px #423c77;
}
#LoginG{
    background-color: #db3236;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#LoginG:hover
{
    background-color: white;
    color: #db3236;
    box-shadow: 0 0 3px 1px #e66868;
}

.bottom{
    margin-left: 60px;
    margin-top: 20px;
    font-weight: bold;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bottom a{
    text-decoration: none;
    color: #0078c8;
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
    --main-color: #750605;
    --accent-color: #360000;
    --div-color: #d62828;
    --sub-color: #dd2f6e;
    --text-gray: #929191;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* -------------------- Popup Modal --------------------------- */
.fields input {
    width: 200px;
}

/* The Modal (background) */
.modal {
    display: none;

    position: fixed;
    z-index: 100;
    /* left: 0; */
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;

}
.Inner_m{
    display: flex;
    align-content: center;
    justify-content: center;
}
.modal-content {
    align-content: center;
    justify-content: center;
    position: fixed;
    /* position: relative; */
    /* display: block; */
    top: 180px;
    /* margin: 20%; */
    margin-left: 400px;
    margin-right: 400px;
    background-color: #fefefe;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.close-popup,
.close-popup-multi {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup-multi:hover,
.close-popup:focus,
.close-popup-multi:focus {
    color: var(--div-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 100px;
    background-color: var(--accent-color);
    color: white;
}

.modal-body {
    display: flex;
    align-content: center;
    justify-content: center;
    /* padding: 40px 80px; */
}

.modal-footer {
    padding: 20px 50px 50px 50px;
    background-color: var(--accent-color);
    color: white;
    align-items: center;
    text-align: center;
    font-size: small;
    margin-bottom: -10px;
}

.modal-submit-button {
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.modal-submit-button button {
    background: var(--main-color);
    /* width: 6rem; */
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-color);
    margin: 5px;
    cursor: pointer;
}
@-webkit-keyframes slideIn {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 120px;
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 120px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ----------------------------------------------- */
/*------------------------------------- form ----------------------------------*/

.fields {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 15px;
    grid-column-gap: 30px;
    margin-top: 1rem;
}

.field-single {
    align-content: center;
    justify-content: center;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    background: #fff;
    border-radius: 5px;
    height: 40px;
}
.field-single span{
    /* text-align: center; */
    text-justify: auto;
}
.formcard {
    width: 700px;
    height: 1000px;
}
.inner_form{
    display: flex;
    align-content: center;
    justify-content: center;
}



/*------------------------------------------------------------------
[ Mobile Responsive ] */

/* @media (max-width: 768px) {
    .inter_lcontainer {
        width: 350px;
        height: 480px;
    }
    #ml1 {
        width: 100%;
    }
    .inter_rcontainer {
        margin-left: -100px;
        padding: 20px;
    }

}

@media (max-width:600px){
    .subcontainer{
        grid-template-areas: "right""left";
    }
    .maincontainer{
        background-color: #D3AAAA;
        height: max-content;
    }
    .inter_lcontainer {
        display: none;
    }
    .inter_rcontainer {
        margin-left: -40px;
    }
} */

@media (max-width: 768px) {
    .inter_lcontainer {
        width: 350px;
        height: 480px;
    }
    #ml1 {
        width: 100%;
    }
    .inter_rcontainer {
        margin-left: -100px;
        padding: 20px;
    }
    .modal-header {
        padding: 20px 30px;
        /* background-color: var(--accent-color);
        color: white; */
    }

}

@media (max-width:600px){
    .subcontainer{
        grid-template-areas: "right""left";
    }
    .maincontainer{
        background-color: #750605;
        height: max-content;
    }
    .inter_lcontainer {
        display: none;
    }
    .inter_rcontainer {
        margin-left: -40px;
        /*width: 250px;*/
        align-content: center;
        justify-content: center;
    }
    /*.fields{*/
    /*    display: flex;*/
    /*    align-content: center;*/
    /*    justify-content: center;*/
    /*}*/
    .inputf1{
        width: 220px;

    }
    .fields input {
        width: 120px;
        font-size: 11px;
    }
    .inputf1 input{
        width: 150px;
        font-size: 13px;
    }
    /*.modal-content {*/
    /*    margin-left: 50px;*/
    /*    margin-right: 50px;*/

    /*}*/
    h3{
        font-size: 11px;
    }
    .field-single span{
        font-size: 13px;
    }
    #Login{
        width: 80px;
        margin-right: 60px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .logo{
        width: 120px;
    }
    .remember{
        font-size: 10px;
        width: 100%;
    }
    .remember a{
        margin-left: 20px;
    }
    .remember{
        margin-left: 40px;
    }
    /*.fields {*/

    /*grid-template-columns: repeat(1, 1fr);*/
    /*grid-template-rows: repeat(3, 1fr);*/

    /*}*/
    .modal-content{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*!*------------------------------------------------------------------*/
/**!*/