/* --------------dark mode-------------------------------- */
:root{
  --body-color: #efefef;
  --nav-color:#750605;
  --bg-color: #fff;
  --primary-color: #edf2fc;
  --secondary-color: #212121;

  --main-color: #750605;
  --accent-color: #360000;
  --div-color: #d62828;
  --sub-color: #dd2f6e;
  --text-gray: #929191;
}
.dark-theme{
  --body-color: #0a0a0a;
  --nav-color:#000;
  --bg-color: #000;
}
/* --------------------part1-------------------------- */
body{
  width: 100%;
  /*background: #efefef;*/
}
.write-post-container{
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  /*display: flex;*/
  align-items: center;
  align-self: center;
  margin-bottom: 14px;
}
.user-profile{

  display: flex;
  align-items: center;
}
.user-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;

}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small{
  font-size: 12px;
}
.post-input-container{
  /* width: 100%; */
  padding-left: 55px;
  padding-top: 20px;
  display: flex;
  align-content: center;
  align-self: center;
}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
  display: flex;
  align-items: center;
}
.add-post-links{
  display: flex;
  margin-top: 10px;
}
.add-post-links a, .add-post-links label {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}
.add-post-links a img, .add-post-links label img{
  width: 20px;
  margin-right: 10px;
}
.post-container{
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin-bottom: 14px;
  /*margin: 20px 0;*/

  /*display: flex;*/
  /*align-content: center;*/
}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a;
}
.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}
.post-text span{
  color: #626262;
  font-weight: 500;
}
.post-text a{
  color: #1876f2;
  text-decoration: none;
}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.activity-icons div img{
  width: 18px;
  margin-right: 10px;
}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-profile-icon{
  display: flex;
  align-items: center;
}
.post-profile-icon img{
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.post-row a {
  color: #9a9a9a;
  text-decoration: none;
  align-items: center;
  color: #626262;
  /*margin-right: 30px;*/
  font-size: 15px;
}
.post-row a img {
  width: 20px;
  margin-right: 10px;
}

.load-more-btn{
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}
.footer{
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;
}
/* -------------------part2--------------------------- */
.profile-container{
  padding: 10px 15%;
  color: #626262;
  /*color: #104c0a;*/
  /*background: #e4e6eb;*/
  align-content: center;
  display: flex;
  margin-bottom: 14px;
}
.cover-img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;
}

.profile-details{
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  /*align-items: flex-start;*/
  justify-content: space-between;

}
.pd-row{
  display: flex;
  align-items: flex-start;

}

.pd-image{
  width: 100px;
  border-radius: 6px;
  /*margin-right: 20px;*/
}
.pd-row div h3{
  font-size: 25px;
  font-weight: 600;
}
.pd-row div p{
  font-size: 13px;
}

.pd-row div img{
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;
}
.pd-right button{
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;

}
.pd-right button img{
  height: 15px;
  margin-right: 10px;
}
.pd-right button:first-child{
  background: #e4e6eb;
  color: #000;

}
.pd-right{
  text-align: right;
}
.pd-right a{
  background: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;
}
.pd-right a img{
  width: 20px;
}
.profile-info{
  display: flex;
  /*align-self: flex-start;*/
  /*justify-content: space-between;*/
  margin-top: 20px;
  align-content: center;

}
/*.main-container{*/
/*  background: #e4e6eb;*/
/*  !*align-content: center;*!*/
/*  align-self: auto;*/
/*  display: block;*/
/*  width: 100vh;*/
/*}*/
.main{
  align-content: center;
  display: grid;
  grid-template-areas: "left right";
}
.left{
  flex-basis: 33%;
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-basis: 33%;
}
.right{
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  flex-basis: 65%;

}
.info-col{
  flex-basis: 33%;
  /*flex-basis: 50%;*/
  align-content: center;
  /*display: flex;*/
  /*background: #006efe;*/
}

.post-col{
  flex-basis: 65%;
  /*flex-basis: 50%;*/
  align-content: center;
  /*display: flex;*/
}
.post-col-timeline{
  flex-basis: 100%;
}

.profile-intro {

  background: var(--bg-color);
  padding: 40px 20px 20px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  align-content: center;
  width: 100%;
  /*display: flex;*/
}
.profile-intro a {
  background: var(--main-color);
  /* width: 6rem; */
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}
.profile-intro a:hover {
  background-color: var(--accent-color);
}
.profile-intro h1 {
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #750605;
}
.profile-intro h2 {
  color: #3f0404;
  margin-bottom: 0px;
}
.profile-intro h3 {
  font-weight: 400;
  margin: 0px;
  margin-bottom: 20px;
  color: #3f0404;
}
.title-box h3{
  font-weight: 600;
}

.intro-text{
  text-align: center;
  margin: 10px 0;
  font-size: 15px;

}
.intro-text img{
  width: 15px;
  margin-bottom: -3px;
}
.profile-intro hr{
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;
}
.profile-intro ul li{
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.profile-intro ul li img{
  width: 26px;
  margin-right: 10px;

}
.title-box{
  display: flex;
  color: #1876f2;
  font-size: 14px;
}
.photo-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap:10px;
  margin-top: 15px;
}
.photo-box div img{
  width: 100%;
  cursor: pointer;
}
.profile-intro p{
  font-size: 14px;
}
.friends-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap:10px;
  margin-top: 15px;
}
.friends-box div img{
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
}
.friends-box div{
  position: relative;
}
.friends-box p{
  position: absolute;
  bottom: 0;
  left: 0;
}




/*------------------------------------------------------------------
[ Mobile Responsive ] */

/* @media (max-width: 768px) {


}

@media (max-width:600px){

} */

/*@media (max-width: 768px) {*/


/*}*/

/*@media (max-width:600px){*/

/*}*/



/*------------------------------------------------------------------
[ Mobile Responsive ] */

/* @media (max-width: 768px) {*/


/*}*/

/*@media (max-width:600px){*/

/*} */

/*@media (max-width: 768px) {*/


/*}*/

@media (max-width:768px){
  /*.info-col{*/
  /*  background: #006efe;*/
  /*}*/


  .main-container{

    align-content: center;

  }
  .main{
    /*display: grid;*/
    grid-template-areas: "left""right";
  }
  .info-col{
    flex-basis: 65%;
    align-content: center;

    /*background: #006efe;*/
  }

  .post-col{
    flex-basis: 70%;
    align-content: center;
  }
  .left{
    align-content: center;
    display: flex;
  }
  .right{
    align-content: center;
    display: flex;
  }
}
