body{
    margin:0;
    /* background-color: #D3AAAA; */
    background-color: #750605;
    background-image: linear-gradient(to right, #360000, #750605);
}

.maincontainer{   
    margin: auto;
    padding: 10px;
	align-items: center;
	justify-content: center;
    font-family: 'Lucida Sans';
}
.container{
    margin: auto;
    padding: 0px;
	align-items: center;
	justify-content: center;
    height:84vh;
}
nav{
    max-width: 100%;   
}
.nav_res{
    display: none;
    max-width: 100%;   
    margin-bottom: 10px;
    align-items: center;
	justify-content: center;
}
.inter_nav_res{
    display: inline-flex;
    align-items: center;
	justify-content: center;
    width: 100%;
    padding: 5px;
}
.navcontainer{
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left middle right";
	/* grid-template-columns: 10% 17% 50% 5% 5% 10%; */
}
.col-1 {
    display: flex;
    padding-left: 10%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-area: left;
    align-items: center;
}
.col-1-2 {
    padding-left: 10%;
}
.col-2 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    grid-area: middle;
}
.col {
    display: flex;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    grid-area: middle;
}
.col-3 {
    display: flex;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-end;
    grid-area: right;
}
.dropdown_responsive .col-3 {
    display: flex;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    justify-content: flex-end;
    
}
.col-3-1 {
    padding-right: 50px;
    text-align: right;
}
.col-3-2 {
    display: flex;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.col-3-3 {
    text-align: center;
    padding: 20px;
}
.logo {
    align-items: center;
    text-align: center;
}
.logo_responsive {
    display: none;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
.d a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
/* -------------------------------search------------------------------ */
.d2{
  
    padding: 2px;
    padding-left: 0px;
    margin-left: 0px;
    width: 370px;
    border: none;
    border-radius: 25px;
    background-color: #EAE5E5;
}
.d2 button{
  border: none;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}
.d2 i{
  padding: 12px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #750605;
}

.d2 .search{
    border: 0px;
    outline: none;
    width: 300px;
    font-weight: bold;
    background: transparent;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    /* color: #6520a5; */
}
/* -------------------------------search------------------------------ */
.nav_res .d2{
    display: grid;
    /* grid-template-columns: "10%" "90%"; */
    padding: 2px;
    margin-left: 0px;
    width: 370px;
    border: none;
    border-radius: 15px;
    background-color: #EAE5E5;
}
.inter_nav_res-l{
    display: flex;
}
.inter_nav_res-r{
    display: flex;
}
.nav_res .d2 button{
  border: none;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
    justify-content: center;
    width: 100%;
}
.nav_res .d2 .inter_nav_res-l{
  padding: 12px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #750605;
}

.nav_res .d2 .search{
    border: 0px;
    outline: none;
    width: 220px;
    font-weight: bold;
    background: transparent;
    margin-left: 20px;
}


 /* -----------------------------------dropdown------------------  */
 .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
   
    background-color: #750605;
    color: #fff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
 /* -----------------------------------------------------  */

  /* -----------------------responsive dropdown------------------------------  */
  .dropdown_responsive {
    /* margin-right: -400px; */
    position: relative;
    display: inline-block;
    /* display: flex; */
}
.dropdown_responsive a{
    display: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown_responsive i, .dropdown_responsive img, .dropdown_responsive .col-3-2 a{
    display: none;
}
.dropdown-content_responsive {
    display: none;
    margin-left: -50px;
  
 position: absolute;
    /* position: relative; */
    /* align-items: flex-start; */
    background-color: #f1f1f1;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content_responsive a {
    display: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content_responsive a:hover {
    background-color: #750605;
    color: #fff;
}
  
.dropdown_responsive:hover .dropdown-content_responsive{
    display: none;
}
 /* -----------------------------------------------------  */

.dropbtn {
    background-color: white;
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    font-size: 0.9rem;
    font-weight: 700;
    color: #222;
    padding: 16px;
    border: none;
    cursor: pointer;
}

#PP{
    border-radius: 50px;
}



.mainframe{
    display: flex;
    border: none; 
    width: 100%;
}

.btn-group{
    height: 600px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
}
.btn-group button {
    background-color: #ffffff; 
    border: none;
    color: #000000; 
    font-weight: bold;
    padding: 10px 24px; 
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 10px;
  }
  
  .btn-group button:hover {
    background-color: #d4d1d1;
    font-weight: bold;
  }

  .btn-group a{
      text-decoration: none;
      color: #000000;
  }



  
/* -----------------Responsive-------------- */


  

@media(max-width:320px) {
   

  }


  
@media (max-width:768px) {
   nav .d2 .search,nav  .d2 i,nav  .d2 button,nav  .d2,nav  .col-1-2{
    display: none;
}
.nav_res .d2 .search, .nav_res  .d2 i,.nav_res  .d2 button,.nav_res  .d2,.nav_res  .col-1-2{
    display: block;
}
.nav_res{
    display: block;
}
.nav_res .d2 {
    width: 220px;
}
.nav_res .d2 .search{
    width: 200px;
    align-content: center;
    justify-content: center;
}
  }  

@media (max-width: 1006px) {
.navcontainer{   
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right" " middle";
 }
.col-3-2 a{
    display: none;
}
 .dropdown_responsive {
    display: block;
}
.dropdown_responsive img{
    display: block;
}
.dropdown, .logo{
    display: none;
}
.dropdown_responsive i,
.dropdown_responsive a,
.dropdown_responsive:hover .dropdown-content_responsive,
.logo_responsive,
.d2_responsive,
.d2_responsive button,
.d2_responsive i,
.d2_responsive .search {
    display: block;
}
  }   

/* @media (max-width: 1300px) {
    
  }  */