@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}

.main{
  display: grid;
  margin: 30px;
}
.drag-area{
  border: 2px dashed #750605;
  padding: 50px;
  width: 700px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.c{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.drag-area.active{
  border: 2px solid #750605;
}
.drag-area .icon{
  font-size: 100px;
  color: #750605;
}
.drag-area header{
  font-size: 20px;
  font-weight: 500;
  color: #750605;
  text-align: center;
}
.drag-area span{
  font-size: 18px;
  font-weight: 500;
  color: #750605;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #750605;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#save{
  padding: 10px 25px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #750605;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}




/* ---------------responsive---- */

@media(max-width:380px) {
  .drag-area{
    width: 250px;
  }

  }


  
@media (min-width:380px) and (max-width:768px) {
  .drag-area{
    width: 350px;
  }
  }  

  /* @media (max-width: 1006px) {
  
    .col-3-2 a{
        display: none;
    }
   
      }    */
    
    /* @media (max-width: 1300px) {
        
      }  */