@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
    --main-color: #05750b;
    --accent-color: #360000;
    --div-color: #d62828;
    --sub-color: #dd2f6e;
    --text-gray: #555f6b;
}

body{
    margin:0;
    background-color: #750605;
    background-image: linear-gradient(to right, #360000, #750605);
}

.maincontainer{
    display: flex;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
}

.subcontainer {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    box-shadow: 1px 1px 15px 0px #000000;
    padding: 0px;
    width:1000px;
    background-color: #FFFFFF;
    height: 620px;
    align-items: center;
    border: 0px;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
}

/*********************************************************/

select {
    background-color: transparent;
    border: none;
    width: 25%;
    cursor: pointer;
    line-height: inherit;
    z-index: 1;
}

/*********************************************************/

.inter_lcontainer{
    display: flex;
    flex-direction: column;
    grid-area: left;
}
.inter_rcontainer{
    display: flex;
    flex-direction: column;
    grid-area: right;
}

#error_message{
    margin: auto;
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    padding: 10px;
    box-shadow: 0 8px 10px -10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.logo{
    margin: auto;
    align-content: center;
    justify-content: center;
    /* width: 50%;
    padding: 10px; */

}
.inputf1 i{
    padding-left: 10px;
    margin-right: 10px;
}
.inputf1{
    padding: 5px;
    padding-left: 10px;
    width: 350px;
    margin-bottom: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #8f8787;
    background-color: #EAE5E5;
    margin-left: 60px;
    background: transparent;

}
.inputf1 label {
    font-weight: bold;
    font-size: small;
    color: rgba(59, 59, 59, 0.753);
}
.inputf2{
    padding: 5px;
    padding-left: 10px;
    width: 330px;
    margin-bottom: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #8f8787;
    background-color: #EAE5E5;
    margin-left: 60px;
    background: transparent;
}
.input-fields{
    margin-bottom: 25px;
    height: 170px;
}
.input{
    border: 0px;
    outline: none;
    width: 80%;
    font-weight: bold;
    margin-left: 10px;
}

.inputf1 #dob {
    width: auto;
    margin-left: -20px;
    flex-direction: row-reverse;
    gap: 20px;
}

.btn{
    border: none;
    cursor: pointer;
    background:none;
    margin-top: 5px;
}


#Signup{
    float:right;
    height: 40px;
    width: 120px;
    background-color: #0078c8;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-right: 70px;
    margin-top: 175px;
    font-weight: bold;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#Signup:hover{
    background-color: white;
    color: rgb(0, 120, 200);
    box-shadow: 0 0 3px 1px rgb(115, 158, 250);
}
h4{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.SocialM{
    display: grid;
    justify-content: center;
}
.SocialMediea{
    display: flex;
    margin-bottom: 15px;
    height: 40px;
}
.SocialMediea i{
    padding-right: 10px;
    margin-left: 90px;
    height: 20px;
    width: 20px;
}

#LoginF{
    background-color: #3B5998;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#LoginF:hover
{
    background-color: white;
    color: #3B5998;
    box-shadow: 0 0 3px 1px #423c77;
}
#LoginG{
    background-color: #db3236;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
#LoginG:hover
{
    background-color: white;
    color: #db3236;
    box-shadow: 0 0 3px 1px #e66868;
}

/*------------------------------------------------------------------
[ Mobile Responsive ] */




@media (max-width: 768px) {
    .inter_lcontainer {
        width: 350px;
        height: 480px;
    }
    #ml1 {
        width: 100%;
    }
    .inter_rcontainer {
        margin-left: -100px;
        padding: 20px;
    }


}

@media (max-width:600px){
    .subcontainer{
        grid-template-areas: "right""left";
    }
    .maincontainer{
        background-color: #750605;
        height: max-content;
    }
    .inter_lcontainer {
        display: none;
    }
    .inter_rcontainer {
        margin-left: -40px;
        /*width: 250px;*/
        align-content: center;
        justify-content: center;
    }

    .inputf1{
        width: 255px;
        margin-left: 20px;
    }

    .inputf1 input{
        width: 150px;
        font-size: 13px;
    }

    h3{
        font-size: 11px;
    }

    #Login{
        width: 80px;
        margin-right: 60px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .logo{
        width: 120px;
        align-content: center;
        justify-content: center;
    }

}


/*------------------------------------------------------------------
*/